/* デスクトーっぷ */

#page-top{
  position: fixed;
  bottom: 10px;
  right:10px;
  font-size:77%;
  z-index:24;
  width:5%;
}

#page-top a{
  background:#ececec;
  text-decoration: none;
  color: black;
  width:100%;
  padding: 30px 0;
  text-align: center;
  display:block;
  border-radius:5px;
}

.fa-angle-up{
  font-size:30px;
}


header{
  left:0;
  position: fixed;
  top:0;
  width:100%;
  background-color: white;
  z-index:24;
}

.header_left{
  height:80px;

}

.logo {
  position: absolute;
  height:50px;
  padding-top: 15px;

  left:100px;

}
.logo_img{
  height:50px;
}

.sub_title{
  position:absolute;
  left:240px;
  top: 25px;
  font-weight:normal;
}

.phone_contact{
  display:none;
}
.header_right{
  width:350px;
  position:absolute;
  right:0;
  top:20px;
  margin-right: 60px;
  background-color: #da6b64;
  border-radius: 40px;
  opacity: 0.8;
  cursor: pointer;
}

.scroll_point{
  text-decoration: none;
}


.header_right:hover{
  opacity: 1;
}


.contact_btn{

  right:30px;
  color:white;
  font-weight: 200;
  text-align: center;
}

.row{
  background-image: url(./image/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:auto;
  width: 100%;

}
.row_in {
  text-align: center;
  padding-top: 90px;
}

.main_text{
  font-size:30px;
  font-weight:normal;
}

.main_logo h1{
  padding: 30px 0;
}

.main_logo_png{
  height:100px;
}



.main_text2{
  font-size:20px;
  padding-top:10px;
}


/* 資料請求 */
.convertion{
  background-color: #ebb94d;
  margin-top: -16px;
  text-align: center;
}

.convertion_text{
  padding-top:30px;
}

.text_font{
  color:white;
  font-size:20px;
}

code{
  color:red;
  font-size:20px;
}

.convertion_btn{
  width:60%;
  height:100px;
  margin: 0 auto;
  background-color: #da6b64;
  border-radius: 40px;
  opacity: 0.8;
  cursor: pointer;
  text-align: center;
}

.convertion_contact_btn{
  right:30px;
  color:white;
  font-weight: 100;


}
.convertion_btn:hover{
  opacity: 1;
}

.convertion_btn_text{
  padding-top:30px;
}

.convertion_font{
  font-size:25px;
  color:white;
}

.intro{
  background-image: url(./image/introbottom.jpg);
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}

.intro_text{
  text-align: center;
  padding-top:50px;
}

.intro_text p{
  font-weight: 300;
}
.intro_title{
  padding-top:30px;
  margin: auto 60px;
}

.intro_first::before{
  left:50px;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}

.intro_first::after{
  position:relative;
  right:50px;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
}

.intro_first::before, .intro_first::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.intro_second{
  line-height:30px;
  padding-bottom:120px;
}

.underline{
  font-weight: bold;
  border-bottom: 7px solid  #ebb94d;
}



/* アバウトページ */

.about{
  background-color:#fef5e0;
  margin-top: -70px;
  text-align: center;
  height:auto;

}

.about_icon{
position: relative;
top:-35px;
}

.circle{
  color:white;
  background-color:#ebb94d;
  padding:0;
  margin:0;
  width:80px;
  height:80px;
  display: inline-block;
  border-radius: 50%;
  line-height: 75px;
}

.about_box{
  width:80%;
  height:auto;
  text-align: center;
  margin: 60px auto;
  background-color:white;
  border: 4px solid #ebb94d;

}

.box{
display: inline-block;
font-size:10px;
padding-left:30px;
}



/* アバウト詳細 */
.about_detail{
  background-image: url(./image/aboutsecondbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:auto;
  text-align: center;
  color:white;
  line-height: 40px;
  margin-top:-22px;
}

.about_detail_top{
  padding-top:40px;
}

.about_thard{
  background-color:#016ea9;
  height:auto;
}

.about_detail p{
  font-size:20px;
}

.about_detail_font {
  color:#ebb94d;
}

.about_detail_border{
  display: flex;
  justify-content: center;
}

.about_detail_box{
  padding:30px 20px;
  margin: 0 20px;
  color:black;
  background-color:white;
  height:150px;
  line-height: 20px;
  margin-left:10px;
  border-radius:5%;
}

.step{
  line-height:5px;
  border-radius: 10%;
  width:100%;
  height:40px;
  display: inline-block;
  background-color: #ebb94d;
  color:white;
}

.about_detail_box h4{
  padding-top:15px;
  font-size:14px;
}

.about_detail_box h5{
  padding-top:10px;
  font-size:15px;
}

.about_thard{
  text-align: center;
  margin-top:-22px;
}

.about_thard h2{
  padding-top:50px;
  color:white;
}

.thard_font{
  color:#ebb94d;
}


/* isaraで学べること */

.learn_isara{
  height:auto;
  text-align: center;
  margin-top:-23px;
}

.learn_isara h1{
  padding-top:50px;
}

.learn_isara p{
  font-size:22px;
}

.learn_isara_box{
  display:flex;
  justify-content: center;
}

.learn_isara_img img{
  height:180px;
  width:180px;
  padding-left:30px;
}



/* isaraメリット */

.isara_merit{
  margin-top:-19px;
  text-align: center;
  background-color: #fef5e0;
  height:auto;
}

.isara_merit_title{
  position:relative;
  top:30px;
  width:80%;
  margin: 0 auto;

}

.isara_merit_title h1{
  padding-top:30px;
}

.isara_merit_title::before, .isara_merit_title::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.isara_merit_title::before{
  left:90px;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}

.isara_merit_title::after{
  top:100px;
  right: 50px;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
}

.merit_box{
  text-align: center;
  width:80%;
  margin: 0 auto;
  margin-top:100px;
  display:flex;
  justify-content: center;
}

.merit_box_img img{
  width:260px;
}

.merit_box_img dt{
  margin-top:10px;
  padding: 0 10px;
  width:260px;
  font-size:20px;
  font-weight: bold;
  color: #ebb94d;
}

.merit_box_img dd {
padding-right:40px;
font-style: normal;
}

.support_box{
  width:80%;
  height:auto;
  margin: 0 auto;
  border: 4px solid #ebb94d;
  background-color:white;
}

.support_box h1{
  color: #ebb94d;
}

.support_box p{

}

.support_box_last{
  padding-bottom: 70px;
  font-size:12px;
}


/* 運営メンバー */

.teacher{
  background-image: url(./image/teacherbg.jpg);
  height: auto;
  background-size: cover;
  text-align: center;
  margin-top:-22px;
  color:white;
  font-weight:600;
}

.teacher h2{
  padding-top:40px;
}

.teacher p{
  font-weight:normal;
}

.teacher_box{
width:50%;
}

.teacher_img{
  position:relative;
  top:50px;
}

.teacher_parents{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 70px;
}


.teacher_img{
  border-radius: 50%;
}

.detail{
  padding:20px;
  border: 4px solid white;
  width:40%;
  margin: 0 auto;
}

.why{
  background-color: #ebb94d;
  margin-top:-16px;
  height:auto;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}


.circle2{
  padding:0;
  margin: 0;
  width:70px;
  height:70px;
  background-color:white;
  text-align: center;
  display:inline-block;
  line-height:70px;
  border-radius:50%;
  margin-top:30px;
}

.w p{
  padding-top:10px;
}

.why h2{
  color:white;
}

.why h2::before{
  left:50px;
  border-top: 4px solid white;
  border-left: 4px solid white;
}

.why h2::after{
  position:relative;
  right:50px;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

.why h2::before, .why h2::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 疑問 */

.answer{
  text-align: center;
  padding-bottom: 60px;
}

.answer_small_box {
  display:flex;
  left:5%;
  height:auto;
}

.answer_img_box {
  float:left;
  width: 200px;
}

.answer_p_box{
  float: left;
  width:50%;
  position: absolute;
  left:25%;
  font-size:20px;
  text-align: left;
}

.answer_p_box{
  font-style:italic;
  color: #AAAAAA;
}

.answer_small_box img{
  width:200px;
  border: 3px solid #ebb94d;
}

.answer_under{
  text-decoration: underline;
}



/* カリキュラム内容 */


.class{
  padding-bottom: 80px;
  background-image: url(./image/classbg.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:

}
.class h1{
  padding-top:30px;
  color:white;
  font-weight:200;
}

.class h3{
  padding-top:30px;
  color:white;
  font-weight:200;
}

.class_box{
  display: flex;
  justify-content: space-around;
  width:70%;
  margin: 0 auto;
}

.class_box_study{
  border: 4px solid #016ea9;
  width:40%;
  background-color:#016ea9;;
  color:white;
}

.item1 {
  align-self: flex-start;
}

.list_box{
background-color:white;
color:black;
}

.list_box ul{
  margin: 0;
  padding: 0;
}

.list_box li{
  list-style:none;
  padding: 0;
  margin: 0;
  line-height:30px;
  font-size:15px;
  border-bottom:2px dotted #e5e5e5;
}


.class_bottom{
  margin-top:-18px;
  text-align: center;
  background-color:#016ea9;
  color:white;
}

.class_bottom p{
  padding: 50px 0;
}


/* 受講の流れ */
.flow{
  padding-bottom: 70px;
}

.flow_box{
  display: flex;
  background-color:#fef5e0;
  width:95%;
  margin:0 auto;
  border-radius: 10px;
}

.flow {
  text-align: center;
}

.flow_left img{
  padding: 20px 60px;
}


.flow_right p {
  padding: 10px 30px;
  text-align: left;
  font-size:15px;
}


.why_bkk{
  background-image: url(./image/bangkokbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:white;
}

.bkk{
  width:80%;
  margin: 0 auto;
  padding: 100px 0;
}

.bkk p{
  font-size:12px;
}


/* 参加特典 */

.special{
  background-color:#f7c23c;
  text-align: center;
  margin-top:-22px;
  padding-bottom: 40px;
}

.special_title{
  background-color:red;
  display:inline;
  position: relative;
  top:25px;
  background-color:#f7c23c;
}

.special_box{
  width:80%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  border: 2px solid white;

}

.special_circle{
  width:240px;
  height:240px;
  background-color:white;
  color:black;
  border-radius:50%;
  margin: 50px 20px;
}

.special_circle p{
  padding: 0 12px;
}

.special_circle h2{
  color: #ebb94d;
}


.special_details{
  background-image: url(./image/specialdetail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color:white;
  margin-top:-22px;
  padding-bottom: 40px;
}

.special_detail_box{
  padding-top:20px;
}

.special_detail_title::before, .special_detail_title::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.special_detail_title::before{
  left:90px;
  border-top: 4px solid white;
  border-left: 4px solid white;
}

.special_detail_title::after{
  right: 50px;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

/* 創業者からのメッセージ */

.message {
  text-align: center;
  padding-bottom: 50px;
}

.message h1 {
  padding-top:30px;
}

.main_message{
  font-size:14px;
}

.main_message img{
  width:90%;

}

.message_box{
  display: flex;
  width:80%;
  margin: 0 auto;
}

.main_message ul{
  text-align: left;
}


/* フォーム画面 */
.form{
  text-align: center;
  background-color: #ebb94d;
  padding-bottom:70px;
}

.form h1{
  padding-top:10px;
}

.form p {
  font-size:14px;
}

.form input,.form textarea{
  width:80%;
  height:55px;
  border-radius:5px;
  margin-bottom: 20px;
}

.form textarea{
  height:130px;
}

.form_button{
width:80%;
height:55px;
border-radius:30px;
font-size:24px;
background-color: #da6b64;
color:white;
}

/* よくある質問 */

.questions{
  text-align: center;
  padding-bottom: 60px;
}

.questions_box{
  width:90%;
  border: 1px solid #e5e5e5;
  margin: 5px auto;
  text-align: left;
  cursor:pointer;
}

.answer_box{
  width:90%;
  margin: 5px auto;
  text-align: center;
  display: none;
}

.fa-question-circle{
  color:blue;
}


footer{
  text-align: center;
  font-size:12px;
  background-color: #ececec;
  padding:20px 0;
}




/* タブレット */
@media only screen and (min-width:640px) and (max-width: 1023px) {
  .contact_btn{
    display:none;
  }

  .logo{
    position:absolute;
    left:20px;
    top:20px;
  }

  .sub_title{
    position: absolute;
    margin-left:-240px;
    margin-top:-20px;
  }

  .phone_contact{
    display: block;
    cursor: pointer;
    margin-top:-18px;
    height:80px;
    width:80px;
    background-color: #da6b64;
     text-align: center;
    position: absolute;
    top:0;
    right: -60px;
  }

  .far{
    padding-top:5px;
    font-size:40px;
    color:white;
  }

  .phone_contact a{
    text-decoration: none;
    color:white;
  }

  .convertion_btn_text{
    display: block;
  }


  .intro_second p{
    padding: 0 10px;
    padding-bottom:120px;
  }


  /* アバウトページ*/

  .about_box{
    width:90%;
  }



  /* アバウト詳細 */

  .about{
    padding-bottom: 20px;
  }

  .about_detail{
    background-image: url(./image/aboutsecondbgsp.jpg);
    height:auto;
  }

  .about_detail_border{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

   .about_detail_box{
    height:120px;
    width:30%;
    margin-top:10px;
    line-height:5px;
    margin: 0 auto;
    border-radius:10px;
    margin-bottom: 30px;
  }

  .step{
    margin-top:-30px;
  }

  .about_thard{
    height: auto;
    padding: 30px 0;
  }

  .about_thard h2{
    font-size:16px;
    padding: 0 10px;
  }


  /* isalaで学べること */

  .learn_isara h1{
    font-size:24px;
  }

  .learn_isara p {
    font-size:17px ;
  }

  .learn_isara_img img{
    width:120px;
    height:120px;

  }


  /* isaraメリット */

  .isara_merit_title_span{
    font-size:14px;
  }

  .isara_merit_title::before{
    left:-10px;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
  }

  .isara_merit_title::after{
    right:0px;
    top: 130px;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
  }

  .merit_box{
    display:flex;
    justify-content: center;
    flex-direction: column;
  }
  .merit_box{
    text-align: center;
    width:80%;
    margin: 0 auto;
    margin-top:100px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .merit_box_img img{
    height:180px;
    width:400px;
    padding-left:30px;
  }

  .merit_box_img dt {
    margin:0 auto;
  }

  .merit_box_img dd {
    margin: 0 auto;
  }




  /* 運営メンバー  */

  .teacher_parents{
    display: flex;
    flex-direction: column;
  }

  .teacher_box{
    width:100%;
  }

  .answer_p_box{
    left:240px;
  }

  .flow_image{
    max-width:100%;
    width:80%;
  }

  .special_title{
    font-size:20px;
    top:13px;

  }

  .special_box{
    width:95%;
  }

  .special_circle{
    height:230px;
    width:230px;
    border-radius: 50%;
  }

  /* 創業者からのメッセージ */

  .message_box{
    flex-direction: column;
  }

  .fa-question-circle{
    font-size:15px;
    color:blue;
  }




}
/* タブレットここまで */



/* スマホデバイス */


@media screen and (max-width:639px){

  .row{
    background-image: url(./image/mainsp.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }

  .logo{
    position:absolute;
    left:10px;
    top:13px;
  }


  .sub_title{
    position: absolute;
    left:10px;
    top:0;
    font-size:12px;
  }

  .phone_contact{
    display: block;
    cursor: pointer;
    margin-top:-18px;
    height:78px;
    width:90px;
    background-color: #da6b64;
     text-align: center;
    position: absolute;
    right:-60px;
  }



  .header_main{
    font-size:10px;
  }


  .convertion_btn_text{
    display: block!important;
    margin: auto 21px;

  }
  .far{
    padding-top:5px;
    font-size:40px;
    color:white;
  }

  .phone_contact a{
    text-decoration: none;
    color:white;
  }
  .contact_btn{
    display:none;
  }


/* 資料請求 */
  .convertion{
    font-size: ;
  }

  .convertion_font{
    font-size:20px;
  }

  .text_font{
    font-size:13px;
    padding: 0 10px;
  }

  code{
    font-size:13px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }


  .intro_text{
    position: relative;
    top:-30px;
  }

  .intro{
    font-size:12px;
  }

  .intro h1{
    font-size:15px;
  }

  .intro_first::after{
    position:relative;
    right:50px;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
  }

  .intro_first::before, .intro_first::after {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }

  .intro_second p{
    padding: 0 10px;
    padding-bottom:90px;
  }



/* アバウトページ */
  .about{
    height: auto;
  }


  .about_title{
    font-size:11px;
    padding: 0 10px;
  }
  .about_box{

    width:80%;
    height:auto;
    text-align: center;
    margin: 60px auto;
    padding-right:30px;
    background-color:white;
    border: 4px solid #ebb94d;

  }

  .box{
  display: inline-block;
  font-size:10px;
  }


/* アバウト詳細  */
  .about_detail{
    background-image: url(./image/aboutsecondbgsp.jpg);

  }

  .about_detail h1{
    font-size:20px;
  }

  .about_detail p {
    font-size:10px;
    padding: 0 30px;
  }

  .about_detail_border{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about_detail_box{
    height:80px;
    width: 80%;

    margin-top:20px;
    line-height:5px;
  }

  .step{
    margin-top:-30px;
  }



  .about_thard h2{
    font-size:11px;
    padding: 30px 30px;
  }


  /* isalaで学べること */

  .learn_isara h1{
    font-size:24px;
  }

  .learn_isara p {
    font-size:17px !important;
  }

  .learn_isara_box{
    width:90%;
    display: flex;
    justify-content: space-around;
  }

  .learn_isara_img img{
    width:50px;
    padding:auto;
    height: 50px;

  }

  /* isaraメリット */

  .isara_merit_title h1{
    font-size:15px;
    padding-top:60px!important;
  }


  .isara_merit_title::before{
    left:0px;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
  }

  .isara_merit_title::after{
    right:0px !important;
    right: 50px;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
  }

  .merit_box{
    display:flex;
    justify-content: center;
    flex-direction: column;
  }

  .support_box h1{
    font-size:18px;
    padding:17px;
  }

  .support_box h2{
  font-size:15px;
  padding:17px;
  }

  .support_box p,.support_box_last{
    padding:17px;
  }



/* 運営メンバー */
  .teacher_parents{
    display: flex;
    flex-direction: column;

  }

  .qa_title h2{
    font-size:15px;
  }

  .why h2::before{
    left:5px;
    border-top: 4px solid white;
    border-left: 4px solid white;
  }

  .why h2::after{
    position:relative;
    right:20px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
  }

  .why h2::before, .why h2::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .teacher_box{
    width:100%;
    height:auto;
  }

  .teacher_img{
  position:relative;
  top:30px;
  }

  .about_detail_box{
    margin: 30px auto;
    height: 90px;
  }

  .about_detail_box h5{
  font-size:13px;
  }

  .detail{
    padding:10px;

    width:80%;

  }




  /* ansewr */

  .answer p {
    padding: 0 10px;
  }

  .answer_img_box{
    width:50%;
    left: -40px;
    margin: 15px 0;
  position: relative;
  }

    .answer_img_box img{
    width:40%;
  }

  .answer_p_box{
    font-size:10px;
    right:10px;
    width:60%;
  }



/* カリキュラム内容*/

  .class_box{
    flex-direction: column;
    width:90%;
  }

  .class_box_study{
    width:100%;
      margin-bottom: 20px;
  }
  .class h1{
      font-size:18px;
  }
  .class h3{
      font-size:14px;
  }

  .list_box li{
    padding: 10px 0;
  }


  /* 受講の流れ  */
  .flow_box{
    margin:15px auto;
  }


  .flow_image{
    display: none;
  }

  .flow_left img{
  width:50px;
  height:50px;
  left:-20px;
  position:relative;
  }

  .flow_right{
    display: none;
  }

  .flow_left{
    display:flex;
  }

  .flow_left h3{
    position: relative;
    top:25px;
    left:-30px;
    font-size:11px;
  }

  /* 参加特典  */

  .special{
    height:auto;
  }

  .special h1{
    font-size:14px;
  }

  .special_title{
    background-color:#f7c23c;
    display:block;
    width:200px;
    margin: 0 auto;

  }

  .special_box{
    height: auto;
    flex-direction: column;

  }

  .special_circle{
    width:50px;
    height:50px;
  }

  .special_circle h2 {
    font-size:12px;
  }

  .special_circle p {
    font-size:10px;
    width:160px;
    position: relative;
    top:-30px;
    left:60px;
    color:white;
  }


  .special_details{
    font-size:10px;
    font-style: normal;
  }

  .special_detail_box h1,.special_detail_box h2{
    font-size:15px;
  }


  .special_detail_title::before, .special_detail_title::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }

  .special_detail_title::before{
    left:0px;
    border-top: 4px solid white;
    border-left: 4px solid white;
  }

  .special_detail_title::after{
    right: 0px;

    border-bottom: 4px solid white;
    border-right: 4px solid white;
  }


  .message h1{
  font-size:15px;
  }

  .message h2{
  font-size:13px;
  }

  .message_box{
    flex-direction: column;
  }


  /* フォーム画面 */

 .fa-question-circle{
   font-size:13px;
   color:blue;
 }

 #page-top{
   width:20%;
 }
}
